<p style="text-align: center;">
  <a class="btnstrip{% if include.selected == 'digital'%} selected{%endif%}" href="/portfolio/digital/">DIGITAL</a>
  <a class="btnstrip{% if include.selected == 'traditional'%} selected{%endif%}" href="/portfolio/traditional/">TRADITIONAL</a>
  <a class="btnstrip{% if include.selected == 'sketchbook'%} selected{%endif%}" href="/portfolio/sketchbook/">SKETCHBOOK</a>
  <a class="btnstrip{% if include.selected == '3d'%} selected{%endif%}" href="/portfolio/3d/">3D</a>
  <a class="btnstrip{% if include.selected == 'animation'%} selected{%endif%}" href="/portfolio/animation/">ANIMATION</a>
</p>
<br>
