<div class="grid column3">
  {% assign posts = include.posts %}
  {% for post in posts %}
    <a href="{{ post.url }}">
    {%if post.category != "animation"%}
    <div class="thumbnail" style="background-image: url('/assets/images/portfolio/{{post.category}}/thumbs/{{post.thumbnail}}')";></div>
    {% else %}
    <div class="video-container">
      <video loop autoplay muted playsinline>
        <source src="/assets/images/portfolio/{{post.category}}/thumbs/{{post.thumbnail}}" type="video/webm">
      </video>
    </div>
    {% endif %}
    </a>
  {% endfor %}
</div>
