<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{page.title | replace: "-", " " | capitalize}}/title>
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/javascript/main.js"></script>

    {% assign images = '' | split: '' %}
    {% assign substring = "/assets/images/portfolio/" | append: page.category | append: "/" | append: page.number%}
    {% for file in site.static_files %}
      {% if file.path contains substring and file.path contains "thumb" %}
      {% assign images = images | push: file %}
      {% endif %}
    {% endfor %}

    <meta property="og:title" content="{{page.title | replace: "-", " " | capitalize}}">
    <meta property="og:description" content="{{page.content | strip_html | normalize_whitespace | truncate: 100}}">
    {% assign thumb = images | first %}
    {% if thumb %}
    <meta property="og:image" content="{{site.url}}{{thumb.path}}">
    {% endif %}
    <meta property="og:url" content="{{site.url}}{{page.url}}">

    {% if page.redirect_to %}<meta http-equiv="refresh" content="0; url={{page.redirect_to}}" />{% endif %}

  </head>
  <body>
    {{ content }}
  </body>
  <script>
    document.addEventListener("keydown", ({key}) => {
        switch (key) {
            case 'ArrowRight':
            document.getElementById("navNext").click();
            break;
            case 'ArrowLeft':
            document.getElementById("navPrev").click();
            break;
        }
    });
</script>
</html>
