---
layout: default
---

<div class="navigation">
	<a id="navPrev" class="{% unless page.next %}disabled{% endunless %}" href="{{page.next.url}}">Previous</a>
    ·
	<a id="navNext" class="{% unless page.previous %}disabled{% endunless %}" href="{{page.previous.url}}">Next</a>
</div>

<br>
<br>
<br>

{% assign images = '' | split: '' %}
{% assign substring = "/assets/images/portfolio/" | append: page.category | append: "/" | append: page.number%}
{% for file in site.static_files %}
	{% if file.path contains substring %}
	{% unless file.path contains "thumb" %}
	{% assign images = images | push: file %}
	{% endunless %}
	{% endif %}
{% endfor %}


{% assign col = "" %}
{% assign len = images | size %}
{% if len == 2 %}{% assign col = 2 %}{% endif %}
{% if page.category == "sketchbook" and len > 2 %}{% assign col = 2 %}{% endif %}

<div class="grid column{{col}}">
	{% for image in images %}
	{%if page.category != "animation"%}
	<img class="img-details" src="{{image.path}}"/>
	{% else %}
	<video class="img-details" loop autoplay muted playsinline>
		<source src="{{image.path}}" type="video/mp4">
	</video>
	{% endif %}
	{% endfor %}
</div>
