---
layout: default
---

<div class="navigation">
	<a id="navPrev" class="{% unless page.previous %}disabled{% endunless %}" href="{{page.previous.url}}">Previous</a>
    ·
	<a id="navNext" class="{% unless page.next %}disabled{% endunless %}" href="{{page.next.url}}">Next</a>
</div>

<br>
<br>
<br>

{%if page.category != "animation"%}
<img class="img-details" src="/assets/images/portfolio/{{page.category}}/{{page.filename}}"/>
{% else %}
<video class="img-details" loop autoplay>
	<source src="/assets/images/portfolio/{{page.category}}/{{page.filename}}" type="video/mp4">
</video>
{% endif %}
