---
layout: post_empty
---

<h1>{{page.title | replace: "-", " " | capitalize}}</h1>

{{content}}

{% assign images = '' | split: '' %}
{% assign substring = "/assets/images/portfolio/" | append: page.category | append: "/" | append: page.number%}
{% for file in site.static_files %}
	{% if file.path contains substring %}
	{% unless file.path contains "thumb" %}
	{% assign images = images | push: file %}
	{% endunless %}
	{% endif %}
{% endfor %}


{% if page.theme == "fullwidth" %}

<div class="grid">
	{% for image in images %}
	{% include img-details.html class="fullwidth" image=image %}
	{% endfor %}
</div>

{% elsif page.theme == "cover" %}

{% assign cover = images | first %}
{% include img-details.html class="fullwidth" image=cover %}
<br>
<div class="grid column2">
{% for image in images %}
{% unless forloop.first %}
	{% include img-details.html class="fullwidth" image=image %}
{% endunless %}
{% endfor %}
</div>

{% else %}

{% assign col = "" %}
{% assign len = images | size %}
{% if len == 2 or page.theme == "col2" %}{% assign col = 2 %}{% endif %}
{% if page.category == "sketchbook" and len > 2 %}{% assign col = 2 %}{% endif %}

<div class="grid column{{col}}">
	{% for image in images %}
	{%if page.category != "animation"%}

	{% include img-details.html class="" image=image %}

	{% else %}
	<video class="img-details" loop autoplay muted playsinline>
		<source src="{{image.path}}" type="video/mp4">
	</video>
	{% endif %}
	{% endfor %}
</div>

{% endif %}

{% if page.related_posts %}
<br>
<br>
<h3 style="text-align: center;">Linked Artwork</h3>
<br>
{% for rpost in page.related_posts %}
{% for post in site.posts %}
{% if post.url contains rpost %}
{% include related_post.html post=post%}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
